
export ROOT_INSTALL_DIR=/home/sheen/

# setting pluto
export PATH=${ROOT_INSTALL_DIR}/pluto/pluto-install/bin:$PATH

# setting LLVM
export LLVM_DIR=${ROOT_INSTALL_DIR}/llvm-project/llvm-install
export PATH=${LLVM_DIR}/bin:$PATH
export LD_LIBRARY_PATH=${ROOT_INSTALL_DIR}/lib:$LD_LIBRARY_PATH

# setting TAFFO
export PATH=${ROOT_INSTALL_DIR}/TAFFO/taffo-install/bin:$PATH
export LD_LIBRARY_PATH=${ROOT_INSTALL_DIR}/TAFFO/taffo-install/lib:$LD_LIBRARY_PATH

# setting prectuner
export PATH=${ROOT_INSTALL_DIR}/lnlamp-install/bin:$PATH
export LD_LIBRARY_PATH=${ROOT_INSTALL_DIR}/lnlamp-install/lib:$LD_LIBRARY_PATH

# setting polybench
export CPATH=/usr/local/include:${ROOT_INSTALL_DIR}/lnlamp/polybench_benchmark/utilities:$CPATH
