[submodule "isl"]
	path = isl
	url = git://repo.or.cz/isl.git
[submodule "pet"]
	path = pet
	url = git://repo.or.cz/pet.git
[submodule "amp_code_gen_test"]
	path = amp_code_gen_test
	url = https://gitee.com/sheenisme/amp_code_gen_test.git