[submodule "isl"]
	path = isl
	url = git://repo.or.cz/isl.git
[submodule "pet"]
	path = pet
	url = git://repo.or.cz/pet.git
[submodule "polybench_benchmark"]
	path = polybench_benchmark
	url = https://github.com/sheenisme/polybench_benchmark.git
