.deps/
.libs/
.vscode/
.cspell/

# 忽略测试的代码
amp_code_gen_test/
back_files_of_amp/

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
gitversion.h
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
ppcg
test-driver

opencl_test.sh
polybench_test.sh

amp.o
cpu.o
cuda.o
cuda_common.o
gpu.o
gpu_array_tile.o
gpu_group.o
gpu_hybrid.o
gpu_print.o
gpu_tree.o
grouping.o
hybrid.o
opencl.o
ppcg.o
ppcg_options.o
print.o
schedule.o
util.o
version.o